<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a class="list" mat-list-item routerLink ="/home" href="#">Home</a>
      <a class="list" mat-list-item routerLink ="/backtest" href="#">Backtest</a>
      <a class="list" mat-list-item href="#">TRAD Bot</a>
      <a class="list" mat-list-item href="#">Discord</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" style="color:black;">menu</mat-icon>
      </button>
      <span>TRAD</span>
      
    </mat-toolbar>
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
